$background-dark: #60a599;
$headshot-height: 200px;

.row-content {
    margin-bottom: 20px;
}

.navbar-dark {
    background-color: $background-dark;
}

.icon-white {
    color: white;
}

.jumbotron {
    margin: 183px 0px 0px 0px;
    padding: 0px 0px;
    background: white;
}

.headshot {
    height: $headshot-height;
}